@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Raleway", serif !important;
  color: white;
  background-image: linear-gradient(to right, rgb(7 3 10), rgb(10 7 20));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
